@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fauna+One');
html,
body {
  width: 100%;
  height: 100%;

}

#intro-1 {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.9),
  rgba(0, 0, 0, 0.1)),
  url('images/homeimg.jpg') no-repeat center;
  background-size: cover;
  color: white;
}

#header{
  text-align: center;
  background: linear-gradient(to right, #0061a3 20%, #4ea5e0 40%, #bbe0f9 60%, #0f7fff 80%);
  background-size: 200% auto;
  color: blue;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

@-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

#intro-1 h1 {
  font-family: 'Playfair Display', serif;
}

@media (min-width: 768px) {
  #intro-1 {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
  }

  #commentsection {
  font-size: 30px
  }
}

@media (min-width: 992px) {
  #intro-1 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
  }

  #intro-1 h1 {
    font-size: 50px;
  }

  #commentsection {
    font-size: 35px
  }
}

@media (min-width: 1200px) {
  #intro-1 {
    font-family: 'Playfair Display', serif;
  }

  #intro-1 h1 {
    font-size: 70px;
  }
  #commentsection {
    font-size: 45px
  }
}

#commentsection{
  font-size: 30px;
  float: none;
}

#commentButton{
  text-align: center;
  width: 100%;
}

.dropdown-menu{
  width: 100%;
  height:500px;
  overflow-x: scroll;
  background-color: black;
}

#APReview {
  position: relative;
  /*width: 100%;*/
  font-family: 'Playfair Display', serif;
}

#concept {
  background-color: #dbdbdd;
}

h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}

li,
p {
  font-family: 'Fauna One', serif
}

button {
  transition-duration: 1.2s;
  background-color: white;
  border-radius: 10px;
  border: none;
}

.text-vertical-center {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

.logButton {
  background-color: white;
}

.logButton:hover {
  background-color: lightgrey;
  border-color: white;
}

body {
  background: #3b4262;
  color: #ffffff;
  font-family: 'Fauna One', serif;

}

.item {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

/*timeline css*/

#timeline img {
  width: 120px;
  height: 120px;
  display: block;
  padding: 5px;
  position: relative;
  bottom: 10px;
}

#timeline img:hover {
  filter: brightness(50%);
}

.timelineimg {
  width: 120px;
  height: 120px;
  position: relative;
  text-align: center;
  float: left;
}

.centered {
  position: relative;
  bottom: 75px;
  display: none;
  color: white;
  cursor: default;
}

#timeline img:hover+.centered {
  display: inline-block;
}


#timeline {
  width: 100%;
  height: 200px;
  display: relative;
  z-index: -1;
  margin: auto;
}

#timelineTitle {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  text-align: center;
}

.periods {
  clear: both;
  text-align: center;
}

/*log in page css*/

#loginPage,
#signUpPage {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(10, 170, 2000, 0.5),
  rgba(0, 0, 0, 0.1));
  text-align: center;
}

input[type=text] {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  float: none;
}

td,
th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
}

#comment {
  /*float: left;*/
  width: 100%;
  text-align: left;
  color: white;
  background-color: black;
}

#username{
  background-color: lightblue;
}

#commentSubmit{
  width: 100%;
}

/*.name{*/

/*  text-decoration: underline;*/

/*}*/

#period5 table {
  font-size: 17px;
  font-family: 'Playfair Display', serif;
}

#logout {
  color: blue;
}

#intro-2{
  background: #d4e9f7;
}

#APheader{
  text-align: center;
  text-decoration: underline;
}